body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-size: 100%;
	background-repeat: no-repeat;
}
#header{
	vertical-align: top;
    background-image: url( "/static/img/logo55x55.jpg");
    background-repeat: repeat-y;
	display: block;
	background-color: #00bfa5;
	height: 56px;
}
	#header h2{
		display: inline-block;
		color: white;
		font-size: 24px;
		margin-top: 14px;
		margin-left: 55px;
		font-weight: bold;
	}
	#header h4{
		font-size: 1.12em;
		display: inline-block;
		color: white;
		font-weight: bold;
	}
	#header a{
		text-decoration: none;
		font-size: 1.12em;
		display: inline-block;
		color: white;
		font-weight: bold;
		float: right;
		margin-right: 40px;
		margin-top: 18px;
	}
.box{
	opacity: 0.94;
	max-width: 100%;
}
.col.s12.m12.l6{
/*    float: none;*/
    margin: 40px auto;
}
#content{
    margin: 0px;
    color: #106f62;
}

#footer btn{
    float: center;
    vertical-align: bottom;
    border: 0;
    position:absolute;
    bottom:0;
}

.btn {
/*	position: relative;*/
	display: block;
    margin-top: 10px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #e53935;
	color: #ecf0f1;
	transition: background-color .3s;
}
    
.mySlides {
    display:table;
    height:500px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    color: #106f62;
}


/*
.btn > * {
  position: relative;
}


.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;  
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
*/
